@media (min-width: 900px) {

    .top-nav {
        height: inherit;
    }

    .top-nav .img-logo img {
        width: 200px;
    }

    .btn-4,
    .btn-3,
    .btn-2{
        font-size: 26px;
        height: 60px;
    }
    .btn-1 {
        font-size: 18px;
        height: 50px;
    }

    .info-txt h2,
    .txt-caixa4,
    .txt-caixa3,
    .txt-caixa2,
    .txt-caixa {
        font-size: 80px;
       
    }


    .header {
        background-image: url("../img/imagemPrincipal.png");
    }

    /*Primeira seção*/
    .header .content h1{
        font-size: 90px;
    }

    .header .content {
    margin-top: 100px; /* igual à altura da navbar */
    }

    .text-header p{
     font-size: 20px;
     width: 600px;
    }

    .imgCll img {
    display: none;
    }

    /*TITULOS*/
    

    /*Mais informações section*/
    .mais-info {
        padding: 40px;
    }

    .mais-info h2 {
        font-size: 70px;
    }

    .mais-info p {
        width: 500px;
    }

     

    /*Vantagens*/
    .vantagens {
        min-height: 100vh;
        height: auto;
        display: flex;
        flex-direction: inherit;
        align-items: center;    
    }

    .headerVantagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 60px;
    margin: 60px;
    }

    .headerVantagem h2 {
        text-align: center;
        font-size: 125px;
    }

    .headerVantagem .txt-caixa {
        font-size: 100px;
        margin-top: -9px;
    }

    .headerVantagem img {
    margin-top: -100px;
    width: 400px;
    margin-top: -30px;
    }

    .cards-vantagem {
    display: flex;
    flex-direction: row;      /* garante alinhamento horizontal */
    overflow-x: auto;         /* ativa scroll horizontal */
    overflow-y: hidden;       /* remove scroll vertical */
    scroll-behavior: smooth;  /* rolagem suave */


}


    .cards-vantagem {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
    }

    .card {
    position: relative;
    width: 350px;
    }

    .card .body-card {
    width: 100%;
    height: 200px;
    background-color: #3c3c3c;
    border-radius: 15px;
    position: relative;
    overflow: visible; /* importante pra permitir que a imagem saia pra fora */
    }

    .card img {
    position: absolute;
    top: -125px; /* controla o quanto sai pra fora */
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 2;
    }

    .card .body-card span {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    }


    /*Informações*/
    .info {
        padding: inherit;
        background-image: url("../img/fundoInfoPC.png");
    }
    .info-img img {
        width: 100%;
    }

    .m-info-position {
        width: 800px;
    }

    .info-img .taxas {
        width: 100%;
        max-width: 600px;
        height: 170px;
        bottom: -110px;
    }

    .info-img .taxas .tx-caixa p {
        font-size: 1.8rem;
    }

    .info-img .taxas .tx-caixa h4 {
        font-size: 2rem;
    }

    .info-txt {
        margin: 0 auto;
    }

}